
@keyframes menu {
  from {
    opacity: .6;
    width: 0px;
  }
  to {
    opacity: 1;
    width: 267px;
  }
}

.nav {
  height: 50px;
  position: fixed;
  top: 0;
  background: transparent;
  width: 100vw;
}

.menu {
  width: 40px;
  float: left;
  padding: 30px; 
}


.flags {
  width: 153px;
  float: right;
  padding: 30px; 
}

.cartBar {
  width: 267px;
  background: white;
  height: 100vh;
  position: fixed;
  right: 0;
  z-index: 1000;
  animation-name: menu;
  animation-duration: 200ms;
}

.menuBar {
  padding: 0 30px;
  padding-top: 65px;
  width: 150px;
  text-align: left;
}

.menuItem {
  color: #c70067;
  font-weight: 400;
  /*background: #FDE52D;*/
  text-decoration: none;
}

.menuItem:hover {
  color: #5236A4;
}