.App {
  text-align: left;
  background-color: var(--brandColor);
  color: white;
  background-image: url(./images/fundo1.png), url(./images/fundo2.png);
  background-position: center bottom, center top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.Text {
  text-align: left;
}

.BoxHeader {
  height: 170px;
}

.Box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 180px;
}

.Media {
  max-width: 740px;
}

.Controller {
  display: flex;
  color: var(--secondaryColor);
  align-items: center;
  justify-content: center;
  /*padding: 30px;*/
  width: 134px;
}

.lavi-image {
  width: 366px;
  margin-left: 50px;
}

.Icons {
  cursor: pointer;
  width: 25px;
  padding-left: 5px;
  height: 25px;
  padding-right: 5px;
}

iframe.iframe {
    border: 5px solid black;
    max-width: 98%;
    max-height: auto;
    width: 640px;
    height: 360px;
}

@media (max-width: 768px) {
  .Box {
    display: flex;
    flex-direction: column;
    padding-bottom: 76px;
  }

  .lavi-image {
    width: 100%;
    margin-left: 0px; 
    max-width: 195px;
  }

  .Text {
    padding: 15px;
    margin-top: 25px;
  }
}
